{
  "access_key_id": "{{ (bitwarden "item" "aliyun-access-key").login.username }}",
  "access_key_secret": "{{ (bitwarden "item" "aliyun-access-key").login.password }}",
  "endpoint": "oss-ap-southeast-1-internal.aliyuncs.com",
  "region": "ap-southeast-1",
  "bucket_name": "denny-test-lance"
}
