{
  "theme": "dark-daltonized",
  "autoUpdates": false,
  "showExpandedTodos": true,
  "cachedGrowthBookFeatures": {
    "tengu_1p_event_batch_config": {
      "scheduledDelayMillis": 5000,
      "maxExportBatchSize": 200,
      "maxQueueSize": 8192
    },
    "tengu_mcp_tool_search": false,
    "tengu_scratch": false,
    "tengu_brass_pebble": false,
    "tengu_disable_bypass_permissions_mode": false,
    "tengu_event_sampling_config": {},
    "tengu_log_segment_events": false,
    "tengu_log_datadog_events": true,
    "tengu_marble_anvil": true,
    "tengu_tool_pear": false,
    "tengu_scarf_coffee": false,
    "tengu_pid_based_version_locking": true,
    "tengu_keybinding_customization_release": true,
    "tengu_c4w_usage_limit_notifications_enabled": true,
    "tengu_thinkback": false,
    "tengu_plank_river_frost": "user_intent",
    "tengu_oboe": true,
    "tengu-top-of-feed-tip": {
      "tip": "",
      "color": ""
    },
    "tengu_react_vulnerability_warning": false,
    "tengu_code_diff_cli": true,
    "tengu_pr_status_cli": true,
    "tengu_post_compact_survey": false,
    "tengu_claudeai_mcp_connectors": false,
    "tengu_tool_search_unsupported_models": [
      "haiku"
    ],
    "tengu_marble_kite": false,
    "enhanced_telemetry_beta": false,
    "tengu_vinteuil_phrase": false,
    "tengu_system_prompt_global_cache": false,
    "tengu_attribution_header": false,
    "tengu_workout": false,
    "tengu_coral_fern": false,
    "tengu_cache_plum_violet": false,
    "tengu_streaming_tool_execution2": true,
    "tengu_session_memory": false,
    "tengu_sm_compact": false,
    "tengu_compact_cache_prefix": false,
    "tengu_compact_streaming_retry": false,
    "tengu_cork_m4q": false,
    "tengu_file_write_optimization": false
  },
  "hasSeenTasksHint": true
}
